In [1]:
import pandas as pd

In [2]:
df3 =pd.DataFrame({'time':[3,5,7,9],
                'exam_score':[55,65,77,95]
                  })

In [3]:
df3.head()

   time  exam_score
0     3          55
1     5          65
2     7          77
3     9          95

In [4]:
a1=df3.cov()

In [5]:
b2=df3.std()

In [6]:
pearsn = a1/b2

In [7]:
pearsn

                 time  exam_score
time         2.581989    2.557448
exam_score  17.041127   17.204651

In [8]:
df= pd.DataFrame({'sleep':[6,7,8,9,5,4],
                 'job_satis':[7,6,8,10,4,3]
                 })

In [9]:
a=df.rank().cov()

In [10]:
b=df.rank().std()

In [11]:
spearman=a/b

In [12]:
spearman

              sleep  job_satis
sleep      1.870829   1.763924
job_satis  1.763924   1.870829

In [13]:
#3

In [14]:
import numpy as np

In [15]:
no_of_exercise=np.random.randint(1,5,50)

In [31]:
dd=pd.DataFrame({'no_of_exercrise':np.random.randint(1,5,50)})

In [32]:
dd1=pd.DataFrame({'BMI':np.random.randint(1,20,50)})

In [37]:
b=dd.head()

   no_of_exercrise
0                1
1                3
2                1
3                3
4                4

In [41]:
e=b.cov(dd)

In [44]:
f=a.std()

In [45]:
a=dd1.head()

In [46]:
perason=e/f

In [47]:
perason

sleep       NaN
job_satis   NaN
dtype: float64

In [48]:
r=dd.rank()

In [49]:
w=r.cov()

In [50]:
s=dd.std()

In [51]:
sperman=r/s

In [52]:
sperman

    no_of_exercrise
0          6.187184
1         23.511300
2          6.187184
3         23.511300
4         35.060711
5         23.511300
6         15.261721
7         23.511300
8         15.261721
9         35.060711
10        23.511300
11        15.261721
12         6.187184
13         6.187184
14        35.060711
15         6.187184
16        23.511300
17         6.187184
18        35.060711
19         6.187184
20         6.187184
21        23.511300
22         6.187184
23        35.060711
24        35.060711
25         6.187184
26        35.060711
27         6.187184
28        15.261721
29        35.060711
30        35.060711
31        23.511300
32        23.511300
33        35.060711
34        35.060711
35        35.060711
36        15.261721
37        15.261721
38        23.511300
39        15.261721
40        35.060711
41         6.187184
42         6.187184
43        35.060711
44        35.060711
45        35.060711
46        15.261721
47         6.187184
48        23.511300
49        23.511300

In [54]:
fd= pd.DataFrame({'no_of_hours_tv':np.random.randint(2,4,50),
                 'level_of_phy_act':np.random.randint(0,1,50)})

In [56]:
a= fd['no_of_hours_tv']

In [61]:
a=fd.cov()

In [64]:
v=fd.std()

In [66]:
perasonw=a/v

In [67]:
perasonw

                  no_of_hours_tv  level_of_phy_act
no_of_hours_tv          0.494872               NaN
level_of_phy_act        0.000000               NaN

In [109]:
dfw=pd.DataFrame({'age':[25,42,37,19,31,28],
                 'soft_drink_prefence':['coke','pepsi','mountain_dew','coke','pepsi','coke']})

In [130]:
z1=dfw.groupby('soft_drink_prefence').std()

In [119]:
a=dfw.groupby('soft_drink_prefence')['age'].rank().to_numpy()

In [123]:
w=pd.DataFrame(a)

In [125]:
a1=w.cov()

In [131]:
rank_cor=a1/z1

In [132]:
rank_cor

               0  age
0            NaN  NaN
coke         NaN  NaN
mountain_dew NaN  NaN
pepsi        NaN  NaN

In [135]:
dfq = pd.DataFrame({'no_of_sales_day':np.random.randint(50,100,30),
                   'no_of_sales_week':np.random.randint(150,300,30)
                   })

In [149]:
a=dfq.cov()

                  no_of_sales_day  no_of_sales_week
no_of_sales_day        199.702299          8.236782
no_of_sales_week         8.236782       1739.029885

In [151]:
b =dfq.std()

In [152]:
pearson =a /b

In [153]:
pearson

0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN
5                  NaN
6                  NaN
7                  NaN
8                  NaN
9                  NaN
10                 NaN
11                 NaN
12                 NaN
13                 NaN
14                 NaN
15                 NaN
16                 NaN
17                 NaN
18                 NaN
19                 NaN
20                 NaN
21                 NaN
22                 NaN
23                 NaN
24                 NaN
25                 NaN
26                 NaN
27                 NaN
28                 NaN
29                 NaN
no_of_sales_day    NaN
no_of_sales_week   NaN
dtype: float64